<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backtime.template.admin.mapper.UserRoleMapper">

    <insert id="insertSelective">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.userId != null">
                <if test="record.userId == '' and insertEmptyString">
                    user_id,
                </if>
                <if test="record.userId != ''">
                    user_id,
                </if>
            </if>
            <if test="record.roleId != null">
                <if test="record.roleId == '' and insertEmptyString">
                role_id,
                </if>
                <if test="record.roleId != ''">
                    role_id,
                </if>
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.userId != null">
                <if test="record.userId == '' and insertEmptyString">
                    #{record.userId},
                </if>
                <if test="record.userId != ''">
                    #{record.userId},
                </if>
            </if>
            <if test="record.roleId != null">
                <if test="record.roleId == '' and insertEmptyString">
                    #{record.roleId},
                </if>
                <if test="record.roleId != ''">
                    #{record.roleId},
                </if>
            </if>
            <if test="record.userId != null">
                #{record.userId},
            </if>
            <if test="record.roleId != null">
                #{record.roleId},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective">
        update sys_user_role
        set
        <trim suffixOverrides=",">
        <if test="record.roleId != null">
            <if test="record.roleId == '' and updateEmptyString">
            role_id = #{record.roleId},
            </if>
            <if test="record.roleId != ''">
                role_id = #{record.roleId},
            </if>
        </if>
        </trim>
        where
        <trim suffixOverrides=" and">
            user_id = #{record.userId} and
        </trim>
    </update>
</mapper>
